<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Help Queue</title>

    <!--Bootstrap core CSS -->
    {% load static %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

	<!-- Favicon -->
	<link rel="icon" href="{% static 'img/dummy.ico' %}">
    
    <!-- Temporary navbar container fix -->
    <style>
	.btn-primary {
		color: #fff;
		background-color: #f36d44;
		border-color: #f36d44;
	}
	.btn-primary:hover {
		color: #fff;
		background-color: #6b6b6b;
		border-color: #6b6b6b;
	}
	.bg-primary {
		background-color: #f36d44 !important; }
	.navbar-toggler {
        z-index: 1;
    }
	.bg-dark {
		background-color: #434343 !important;
		color: white; }
	hr {
		border-color: #F05F40;
		border-width: 3px;
		max-width: 1000px; }
	hr.dark {
		border-color: #141414;
		border-width: 3px;
		max-width: 1000px;
	}
	hr.invis {
		border: 10px solid rgba(0,0,0,0);
	}
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light" id="mainNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#page-top">Help Queue</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">We're here to help queue</h1>
                <hr>
				<a class="btn btn-primary btn-xl" href="/login">Log In</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading text-white">Queued for Your Success</h2>
                    <hr class="light" width="385px">
                    <p class="text-faded">HQ allows students in a classroom to request the attention of the instructor by adding themself to a list. 
					The instructor can answer the student's needs in the order the students asked the questions to prevent students from getting too lost.</p>
                    <a class="btn btn-default btn-xl sr-button" href="#services">Check it out!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why use HQ?</h2>
                    <hr class="primary" width="215px";>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Instructor Abilities</h3>
                        <p class="text-muted">Set up your classroom, edit tables, add teaching assistants, and manage the queue.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Teaching Assistant Abilities</h3>
                        <p class="text-muted">Assist the instructor in managing the queue.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Student Abilities</h3>
                        <p class="text-muted">Add or remove yourself from the HQ if you need help in class.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">Developed with benefitting education in mind.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading">Contact Us!</h2>
                    <hr class="primary" width="190px">
                    <p>Questions? Concerns? Suggestions? Contact the developers below!</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
					<p>John Klaassen</p>
                    <p><a href="mailto:your-email@your-domain.com">klaassen.2@wright.edu</a></p>
                </div>
				<div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
					<p>Krista Vanderhorst</p>
                    <p><a href="mailto:your-email@your-domain.com">vanderhorst.20@wright.edu</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
					<p>Hannah Muetzel</p>
                    <p><a href="mailto:your-email@your-domain.com">muetzel.2@wright.edu</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

</body>

</html>